<div class="page">
  <section class="pageTitle">
    <h1 class="page__title">En busca del tesoro</h1>
    <div class="page__containerImg">
      <!-- <img
            class="page__title--img"
            src="https://media.giphy.com/media/vT6qlTWOWYzZK/giphy.gif"
            alt=""
          /> -->
    </div>
  </section>
  <section class="page__img">
    <img
      class="page__img--img js-map"
      src="assets/images/mapC.jpg"
      alt="mapa-del-tesoro"
      id="map"
    />
  </section>
  <section class="page__text">
    <p class="page__distance"></p>
    <div class="page__containerTreasure">
      <img class="page__treasure" src="assets/images/treasure.png" alt="" />
    </div>
  </section>
</div>
