<div class="page">
  <section class="pageTitle">
    <h1 class="page__title">En busca del tesoro</h1>
    <h3 class="page__subtitle">Pincha en la imagen y encuentra dónde esta el tesoro</h3>
  </section>
  <section class="page__img">
    <img
      class="page__img--img js-map"
      src="assets/images/mapC.jpg"
      alt="mapa-del-tesoro"
      id="map"
    />
  </section>
  <section class="page__resultWin js-win">
    <div class="page__container">
      <i class="fas fa-times page__close js-close"></i>
      <h1 class="page__win">Has encontrado el tesoro</h1>
      <img
        class="page__winGif"
        src="https://media.giphy.com/media/lMg0qBGvh0Hu0AMLj4/giphy.gif"
        alt=""
      />
    </div>
  </section>
  <section class="page__text">
    <p class="page__distance"></p>
    <div class="page__containerTreasure">
      <img class="page__treasure" src="assets/images/treasure.png" alt="" />
    </div>
  </section>
</div>
