.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;

  &__social {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__icon {
    font-size: 18px;
    margin: 8px 18px 0;
    padding: 10px;
    color: black;
    transition: 1s;
    border: 2px solid black;
    border-radius: 50%;
    &:hover {
      background-color: lightseagreen;
    }
  }
}
